body {
  max-width: 1200px;
}

.col-1-4 {
  width: 25%;
}

.col-1-2 {
  width: 50%;
}

.display-none {
  display: none !important;
}

.opacity-zero {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.height-zero {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.visible {
  opacity: 1;
  max-height: 1000px;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}
