$base-font-weight: 400;
$base-font-size: 1rem;
$base-line-height: 1.5;
$primary-font-family: Inter, Helvetica, Arial, sans-serif;
$secondary-font-family: "Inria Sans", Helvetica, Arial, sans-serif;
$primary-color: #E1289F;
$black: #000000;
$light-gray: #F0F0F0;
$secondary-light-gray: #DCDCDC;
$tertiary-light-gray: #DBDBDB;
$quaternary-light-gray: #D9D9D9;
$white: #FFFFFF;
$gray: #4C4C4C;
$secondary-gray: #595959;
$first-gray-gradient: #C5C5C5;
$second-gray-gradient: #E1E1E1;
$shadow-gray: #EDEDED;

$opacity: 0.05;
$primary-color-transparent: rgba($primary-color, $opacity);
$first-gray-gradient-transparent: rgba($first-gray-gradient, $opacity);
$second-gray-gradient-transparent: rgba($second-gray-gradient, $opacity);
$shadow-gray-transparent: rgba($shadow-gray, $opacity);

$total-items: 7;
$visible-duration: 5s;
$fade-in-duration: 1s;
$fade-out-duration: 1s;
$transition-duration: $fade-in-duration + $fade-out-duration;
