@keyframes slide-from-center-top {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes slide-from-center-to-right {
  from {
    transform: translateX(-0);
  }

  to {
    transform: translateX(450px);
  }
}

@keyframes slide-from-center-to-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-450px);
  }
}

@keyframes rotate-90-degrees {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes show-image {
  from {
    opacity: 0;
  }

  to {
    opacity: 20%;
  }
}

@keyframes cover-text {
  from {
    width: 0;
  }

  to {
    width: 120px;
  }
}

@keyframes blink {
  from {
    opacity: 100;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes move-to-end {
  from {
    left: 0;
  }

  to {
    left: 120px;
  }
}

@keyframes bar-up-and-down {
  from {
    height: 0px;
  }

  25% {
    height: 10px;
  }

  50% {
    height: 0px;
  }

  75% {
    height: 10px;
  }

  to {
    height: 0px;
  }
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  #{percentage($fade-in-duration / ($visible-duration + $transition-duration))}, #{100 - percentage($fade-out-duration / ($visible-duration + $transition-duration))} { opacity: 1; }
}

@keyframes gradientBG {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
