@keyframes slide-from-center-top {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes slide-from-center-to-right {
  from {
    transform: translateX(-0);
  }

  to {
    transform: translateX(450px);
  }
}

@keyframes slide-from-center-to-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-450px);
  }
}

@keyframes rotate-90-degrees {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes show-image {
  from {
    opacity: 0;
  }

  to {
    opacity: 20%;
  }
}

@keyframes cover-text {
  from {
    width: 0;
  }

  to {
    width: 120px;
  }
}

@keyframes blink {
  from {
    opacity: 100;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes move-to-end {
  from {
    left: 0;
  }

  to {
    left: 120px;
  }
}

@keyframes bar-up-and-down {
  from {
    height: 0px;
  }

  25% {
    height: 10px;
  }

  50% {
    height: 0px;
  }

  75% {
    height: 10px;
  }

  to {
    height: 0px;
  }
}

@keyframes crawl {
  0% {
    transform: rotateX(20deg) translateY(800px);
  }
  100% { 
    transform: rotateX(25deg) translateY(-9450px);
  }
}
