.dotify-glimpse {
  display: flex;
  margin: 16px 0;

  .left-menu {
    animation: slide-from-center-top 1s 0s forwards, slide-from-center-to-left 1s 1s forwards;
    position: relative;
    left: 450px;
    opacity: 0;
  }

  .right-menu {
    animation: slide-from-center-top 1s 0s forwards, slide-from-center-to-right 1s 1s forwards;
    position: relative;
    left: -450px;
    opacity: 0;
  }

  .center-menu {
    animation: slide-from-center-top 1s ease 2s forwards;
    opacity: 0;
  }
}
