.activity-feed {
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 800px;
  perspective: 400px;
  color: $primary-color;
  font-size: 82px;
  font-weight: 700;
  line-height: 1.5;
  text-align: justify;
}

.crawl {
  transform-origin: 50% 100%;
  animation: crawl 1s linear forwards;

  &:hover {
    animation-play-state: paused;
    cursor: grabbing;
  }

  p {
    margin-bottom: 82px;
  }

  > div {
    text-align: center;
    margin-bottom: 82px;

    h1 {
      text-transform: uppercase;
      font-size: 90%;
    }

    h2 {
      font-size: 110%;
    }
  }
}
