.activity-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;

  background: radial-gradient(circle, $primary-color-transparent, $first-gray-gradient-transparent, $second-gray-gradient-transparent, $shadow-gray-transparent, $white);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

.activity-feed > div {
  opacity: 0;
  position: absolute;
}

@for $i from 1 through $total-items {
  .activity-feed > div:nth-child(#{$i}) {
    animation: fadeInOut #{$visible-duration + $transition-duration} ease-in-out #{($visible-duration + $transition-duration) * ($i - 1)} forwards;
  }
}

